@page "/"

<div class="container text-center">
    <p class="typewriter mx-auto">
        <span id="me">
            Cześć mam na imię <span id="name">Mateusz!</span>
        </span>
    <p>
        <span class="typewriter-text">@typewriterText</span>
    </p>
    </p>
</div>

<style type="text/css">

    ﻿.typewriter {
        text-align: center;
        font-size: 5vw;
        margin-top: 35vh;
        margin-bottom: 45vh;
    }

    #me {
        font-size: 6vw;
    }

    #name {
        font-size: 6vw;
        color: #222425;
    }
</style>

<style type="text/css" media="screen and (min-width:641px)">

    .typewriter {
        font-size: 3vw;
    }

    #me, #name {
        font-size: 4vw;
    }
</style>

<style type="text/css" media="screen and (min-width:1241px)">

    .typewriter {
        font-size: 2vw;
    }

    #me, #name {
        font-size: 3vw;
    }
</style>

@code {
    string[] jobs = { "Witam Cię serdecznie w aplikacji MyTutoring, udanych zajęć :)", "Jeśli potrzebujesz korepetycji z matematyki, napisz do mnie!", "Mój adres email: matekos1604@gmail.com"};
    string typewriterText;
    Task worker;
    protected override void OnInitialized()
    {
        worker = Typewriter();
    }
    async Task Typewriter()
    {
        var index = 0;
        while (true)
        {
            var textIndex = 1;

            while (textIndex < jobs[index].Length + 1)
            {
                typewriterText = jobs[index].Substring(0, textIndex);
                textIndex++;
                StateHasChanged();
                await Task.Delay(75);
            };

            StateHasChanged();
            await Task.Delay(2000);

            textIndex = jobs[index].Length;

            while (textIndex + 1 > 0)
            {
                typewriterText = jobs[index].Substring(0, textIndex);
                textIndex--;
                StateHasChanged();
                await Task.Delay(50);
            };

            index++;
            if (index == jobs.Length)
            {
                index = 0;
            }
        }
    }
}