@page "/login"

<div class="text-center">
    <h1>Logowanie</h1>
</div>

@if (ShowErrors)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}

<div class="card col-lg-6 col-sm-8"  style="margin-right: auto; margin-left: auto">
    <div class="card-body">
        <h5 class="card-title">Podaj dane logowania</h5>
        <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="email">Adres email</label>
                <InputText Id="email" Class="form-control" @bind-Value="loginModel.Email" />
                <ValidationMessage For="@(() => loginModel.Email)" />
            </div>
            <div class="form-group">
                <label for="password">Hasło</label>
                <InputText Id="password" type="password" Class="form-control" @bind-Value="loginModel.Password" />
                <ValidationMessage For="@(() => loginModel.Password)" />
            </div>            
            <div class="text-center" style="margin-top: 5px">
                <button type="submit" class="btn btn-success">Zaloguj</button>
            </div>
        </EditForm>
    </div>
</div>
