@page "/test"
@using Models.Models
@using MyTutoring.Client.Services.Test

@inject ITestService XD;


<h1>Hello @test2.Id @test2.Role!</h1>

@code {
    private UserInfo test2 = new();

   protected override async Task OnInitializedAsync() => test2 = await XD.GetModel();
}
