@inherits LayoutComponentBase

<div class="page">

    <main>
        <TopMenu/>

        <article class="content px-4" style="color: RGB(189, 140, 103); min-height: 90vh;">
            @Body
        </article>

        <Footer />
    </main>
</div>
